<!--
  ~ Created by dengshiwei on 2020/02/24.
  ~ Copyright 2015－2020 Sensors Data Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorsdata.sf.android.sdk">
    <!-- 同步数据需要网络权限 -->
    <application>
        <activity android:name="com.sensorsdata.sf.ui.view.DialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/SensorsFocusTheme"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
